{
  "extends": ["eslint:recommended", "prettier"],
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "parser": "@typescript-eslint/parser",
  "env": {
    "node": true
  },
  "rules": {
    "no-debugger": "error",
    "quotes": ["error", "single"],
    "object-curly-spacing": ["error", "always"],
    "comma-dangle": [
      "error",
      {
        "arrays": "only-multiline",
        "objects": "only-multiline",
        "imports": "only-multiline",
        "exports": "only-multiline",
        "functions": "never"
      }
    ],
    "semi": ["warn", "never"],
    "indent": ["error", 2]
  }
}
