@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap);
*:not(svg *) {
  all: unset;
  display: revert;
}

:root {
  --constant-black-alpha64: rgba(0, 0, 0, 0.64);
  --constant-white-alpha12: rgba(255, 255, 255, 0.12);
  --constant-white-alpha64: rgba(255, 255, 255, 0.64);
  --constant-black-alpha4: rgba(0, 0, 0, 0.04);
  --constant-black: #262a2f;
  --constant-accent: #0083fc;
  --constant-grey: #a3a3a3;
  --constant-grey1: #ebebeb;
  --constant-white: #fff;
  --constant-red: #f53;
  --color-overlay-black: #000;
  --background-zero: var(--constant-white);
  --background-primary: var(--constant-white);
  --foreground-primary: var(--constant-black);
  --color-scheme-border: var(--constant-grey1);
  --skeleton-background: var(var(--constant-grey));
  --mobile-menu-button: #f2f2f2;
  --container-width: 940px;
  --grid-column-width: 60px;
  --container-padding: 16px;
  --grid-gap: 24px;
  --skeleton-gradient: linear-gradient(to right, transparent 0%, var(--constant-black-alpha64) 100%);

  color-scheme: light;
}

[scheme="dark"] {
  --background-zero: #131517;
  --background-primary: var(--constant-black);
  --foreground-primary: var(--constant-white);
  --skeleton-background: var(--constant-white-alpha12);
  --skeleton-gradient: linear-gradient(to right, transparent 0%, var(--constant-white-alpha12) 100%);
  --color-scheme-border: transparent;
  --mobile-menu-button: var(--background-zero);

  color-scheme: dark;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--background-zero);
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--foreground-primary);
}

a {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
}

.grid {
  display: grid;
  gap: var(--grid-gap);
}

.skeleton-gradient {
  background-size: 200% 100%;
  background-attachment: fixed;
  background-image: var(--skeleton-gradient);
  animation: skeleton-gradient-animation 1s linear infinite;
}

@keyframes skeleton-gradient-animation {
  from {
    background-size: 100% 0;
  }

  to {
    background-size: -100% 0;
  }
}

@media all and (min-width: 1024px) {
  :root {
    --container-padding: 20px;
    --grid-gap: 20px;
  }

  body {
    min-width: calc(var(--container-width) + 2 * var(--container-padding));
  }

  .grid {
    grid-template-columns: repeat(12, var(--grid-column-width));
  }
}

.admin-panel-container {
  font-size: 22px;
}

.article-page {
  padding-bottom: 150px;
}

.article-page__content {
  font-size: 16px;
  line-height: 20px;
}

.article-page__related-articles {
  margin-top: 36px;
}

.sidebar__article-item:not(:last-child) {
  margin-bottom: 32px;
}

.article-page__content > :first-child {
  margin-top: 0;
}

.article-page__content p {
  margin-top: 26px;
}

.article-page__content img {
  margin-top: 40px;
  max-width: 100%;
}

.article-page__info {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  gap: 32px;
}

.article-page__category,
.article-page__date {
  font-weight: 600;
}

.article-page__source {
  color: var(--constant-grey);
  cursor: pointer;
}

.article-page__related-articles-title {
  margin-bottom: 36px;
  font-weight: 900;
  font-size: 50px;
  line-height: 59px;
  text-transform: uppercase;
}

.article-page__related-articles-item {
  grid-column: span 4;
}

@media all and (min-width: 1024px) {
  .article-page__hero:not(.hero--no-image) .hero__container {
    margin-top: -106px;
  }

  .article-page__content {
    grid-column: span 8;
  }

  .article-page__related-articles {
    margin-top: 36px;
  }

  .article-page__related-articles-item {
    grid-column: span 4;
  }

  .article-page__related-articles-title {
    margin-bottom: 24px;
  }
}

@media all and (min-width: 1024px) {
  .article-page__hero:not(.hero--no-image) .hero__container {
    margin-top: -106px;
  }

  .sidebar__article-page {
    grid-column: 9/-1;
  }

  .article-page__related-articles {
    margin-top: 64px;
  }

  .article-page__content {
    grid-column: span 8;
  }

  .article-page__related-articles-item {
    grid-column: span 4;
  }

  .article-page__related-articles-title {
    margin-bottom: 36px;
  }
}

.sidebar-article-card {
  display: block;
  cursor: pointer;
}

.sidebar-article-card:hover {
  color: var(--constant-accent);
}

.sidebar-article-card__media {
  position: relative;
  height: 150px;
}

.sidebar-article-card__image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.sidebar-article-card__title {
  margin: 12px 0 8px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sidebar-article-card__source {
  color: var(--constant-grey);
}

.sidebar-article-card__date {
  position: absolute;
  right: 0;
  bottom: 0;
  background: var(--background-zero);
  padding: 6px 12px;
  font-weight: 500;
}

.image {
  background-color: var(--skeleton-background);
}

.image__element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  opacity: 0;
  display: block;
  transition: opacity 0.3s ease;
}

.image--loaded .image__element {
  opacity: 1;
}

.hero__no-image {
  padding-bottom: 0;
  padding-top: 36px;
}

.hero__image {
  width: 100%;
  height: 179px;
  overflow: hidden;
}

.hero__image:not(.skeleton-gradient) {
  background: var(--constant-grey) no-repeat center/cover;
}

.hero__no-image .hero__in {
  height: auto;
  background: none;
}

.hero__container {
  position: relative;
  margin-top: -83px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.hero__no-image .hero__container {
  margin-top: 0;
}

.hero__content {
  padding: 16px;
  background-color: var(--constant-black);
  color: var(--constant-white);
  max-width: calc(var(--grid-column-width) * 10 + var(--grid-gap) * 9);
}

.hero__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
  overflow: hidden;
}

.hero__text {
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 12px;
}

@media all and (min-width: 1024px) {
  .hero__text {
    font-size: 16px;
    line-height: 24px;
  }

  .hero__title {
    word-break: normal;
    -webkit-line-clamp: 3;
  }

  .hero__content {
    padding: 28px;
  }

  .hero__container {
    padding: 0;
    margin-top: -169px;
  }

  .hero__image {
    height: 488px;
  }
}

.title {
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

@media all and (min-width: 1024px) {
  .title {
    font-size: 36px;
    line-height: 44px;
  }
}

.article-card {
  display: flex;
  flex-direction: column;
  border-left: 4px solid var(--foreground-primary);
  padding-left: 12px;
}

.article-card:hover {
  color: var(--constant-accent);
  border-left-color: var(--constant-accent);
}

.article-card__image {
  width: 99px;
  height: 72px;
  margin-bottom: 12px;
  flex-shrink: 0;
  overflow: hidden;
}

.article-card__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}

.article-card__title {
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 4px;
}

.article-card__description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 8px;
}

.article-card__has-description .article-card__title {
  -webkit-line-clamp: 2;
}

.article-card__info {
  display: flex;
  align-items: baseline;
  margin-top: auto;
}

.article-card__category {
  color: var(--constant-accent);
  font-weight: 700;
  margin-right: 8px;
}

.article-card__date {
  color: var(--constant-grey);
}

.article-card__date:not(:last-child)::after {
  content: "\00a0•\00a0";
}

.article-card--skeleton,
.article-card--skeleton:hover {
  border-color: var(--skeleton-color);
}

@media all and (min-width: 1024px) {
  .article-card {
    flex-direction: row;
  }

  .article-card__image {
    width: 152px;
    height: 112px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.skeleton-text {
  display: block;
  color: var(--skeleton-background);
  width: 100%;
}

.skeleton-text--dark {
  color: var(--constant-white-alpha12);
}

.skeleton-text__row {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1em;
  background-color: currentColor;
}

.skeleton-text__row:last-child {
  width: 60%;
}

.home-page__hero-link {
  display: block;
  margin-bottom: 32px;
}

.home-page__article-card:not(:last-child) {
  margin-bottom: 24px;
}

.home-page__sidebar-item:not(:last-child) {
  margin-bottom: 24px;
}

.home-page__title {
  margin-bottom: 24px;
}

.home-page__section {
  margin-top: 16px;
  margin-bottom: 16px;
}

.home-page__promo {
  height: 300px;
  background: var(--constant-black);
}

@media all and (min-width: 1024px) {
  .home-page__hero-link {
    margin-bottom: 64px;
  }

  .home-page__content {
    grid-column: span 7;
  }

  .home-page__sidebar {
    grid-column: 9/-1;
  }

  .home-page__section {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .home-page__trends-item {
    grid-column: span 4;
  }

  .home-page__title {
    margin-bottom: 32px;
  }

  .home-page__sidebar-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.login-container {
  max-width: 500px;
  margin: -70px auto 40px auto;
}

.oauth-container {
  margin-top: 30px;
  text-align: center;
}

.oauth-container-item {
  cursor: pointer;
  padding: 0 10px;
  font-size: 40px;
}

.partners-article {
  margin: 50px 0;
}

.category-page__hero {
  margin-bottom: 16px;
}

.category-page__item:not(:last-child) {
  margin-bottom: 24px;
}

.category-page .hero__container {
  margin-top: -35px;
}

.category-page__sidebar-item {
  margin-bottom: 24px;
}

@media all and (min-width: 1024px) {
  .category-page__hero {
    margin-bottom: 64px;
  }

  .category-page__content {
    grid-column: span 7;
  }

  .category-page__sidebar {
    grid-column: 9/-1;
  }
}

.partner-article {
  padding: 0 0 16px;
  background-color: var(--constant-accent);
}

.partner-article__container {
  padding: 0;
  display: block;
}

.partner-article-image-container {
  margin-bottom: 16px;
}

.partner-article-content {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  color: var(--constant-white);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.partner-article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-height: 250px;
}

.partner-article-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.partner-article-title {
  margin-top: 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.partner-article-text {
  display: none;
}

@media all and (min-width: 1024px) {
  .partner-article {
    padding: 24px 0;
  }

  .partner-article__container {
    padding: 0 var(--container-padding);
    display: grid;
  }

  .partner-article-image-container {
    grid-column: span 5;
  }

  .partner-article-content {
    grid-column: 6 / -1;
    padding-left: 0;
    padding-right: 0;
  }

  .partner-article-image {
    max-height: 430px;
  }

  .partner-article-title {
    margin-top: 16px;
    font-size: 20px;
    line-height: 24px;
  }

  .partner-article-text {
    margin-top: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--constant-grey1);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.header--navigation {
  display: flex;
}

.navigation--list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 24px;
}

.navigation--item {
  margin-right: 16px;
  margin-bottom: 8px;
}

.navigation--item:last-child {
  margin-right: 0;
}

.navigation--link {
  font-weight: 900;
  text-transform: uppercase;
}

.active,
.navigation--link:hover {
  color: var(--constant-accent);
}

@media all and (min-width: 1024px) {
  .navigation--item {
    margin-right: 24px;
    margin-bottom: 0;
  }

  .navigation--link {
    font-size: 16px;
  }
}

.footer {
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--constant-black);
  color: var(--constant-white);
  margin-top: 16px;
}

.footer--link {
  color: var(--constant-accent);
  text-decoration: underline;
}

.footer--top {
  padding-bottom: 24px;
  margin-bottom: 16px;
  border-bottom: 1px solid var(--constant-white-alpha12);
}

.footer--link:hover {
  opacity: 0.8;
}

.footer--navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--constant-white-alpha12);
  margin-bottom: 24px;
}

@media all and (min-width: 1024px) {
  .footer {
    margin-top: 64px;
    padding-top: 24px;
    padding-bottom: 80px;
  }

  .footer--navigation {
    margin-bottom: 0;
  }

  .footer--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 28px;
  }

  .footer__bottom {
    font-size: 16px;
  }
}

.header {
  background: var(--background-primary);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 76px;
}

.header__navigation {
  margin-left: 24px;
}

.header__controls {
  margin-left: auto;
}

.header__mobile-container {
  padding: 8px var(--container-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mobile-button {
  padding: 6px;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 8px;
  background: var(--mobile-menu-button);
}

.header__mobile-controls {
  padding: 10px var(--container-padding);
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-top: 1px solid var(--constant-black-alpha4);
}

.header__mobile-controls--hasMenu {
  padding: 0;
}

.header__mobile-back-button {
  padding: var(--container-padding);
  width: 100%;
  font-weight: 900;
  text-transform: uppercase;
  box-sizing: border-box;
}

.header__mobile-back-button:hover {
  color: var(--constant-accent);
}

.header__mobile-navigation .navigation__list {
  display: block;
}

.header__mobile-navigation .navigation__item {
  margin: 0;
}

.header__mobile-navigation .navigation__link {
  display: block;
  padding: var(--container-padding);
}

.header__mobile-menu {
  position: relative;
  background-color: var(--background-primary);
  overflow: hidden;
}

.header-mobile-menu-animation-enter .header__mobile-menu {
  max-height: 0;
  transition: max-height 0.3s;
}

.header-mobile-menu-animation-enter-active .header__mobile-menu {
  max-height: 100vh;
}

.header-mobile-menu-animation-exit .header__mobile-menu {
  max-height: 100vh;
  transition: max-height 0.3s;
}

.header-mobile-menu-animation-exit-active .header__mobile-menu {
  max-height: 0;
}

.header__mobile-overlay {
  position: fixed;
  top: 52px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.header__mobile-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--constant-black-alpha64);
}

.header-mobile-menu-animation-enter .header__mobile-backdrop {
  opacity: 0;
  transition: opacity 0.3s;
}

.header-mobile-menu-animation-enter-active .header__mobile-backdrop {
  opacity: 1;
}

.header-mobile-menu-animation-exit .header__mobile-backdrop {
  opacity: 1;
  transition: opacity 0.3s;
}

.header-mobile-menu-animation-exit-active .header__mobile-backdrop {
  opacity: 0;
}

.logo {
  display: block;
  width: 112px;
  cursor: pointer;
}

.logo-image {
  width: 100%;
  display: block;
}

@media all and (min-width: 1024px) {
  .logo {
    width: 154px;
    flex-shrink: 0;
  }
}

.color-scheme-switcher-button {
  border-radius: 50%;
  background: var(--background-zero);
  border: 1px solid var(--color-scheme-switcher-border);
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--constant-accent);
}

.dropdown {
  position: absolute;
  background-color: var(--background-zero);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
  padding: 8px 0;
}

.dropdown-animation-enter {
  transform: scale(0.2);
  transform-origin: right top;
  transition: transform 200ms ease-in;
}

.dropdown-animation-enter-active {
  transform: scale(1);
}

.dropdown-animation-exit {
  transform: scale(1);
}

.dropdown-animation-exit-active {
  transform: scale(0);
}

.email-modal {
  position: relative;
  background-color: var(--constant-black);
  color: var(--constant-white);
  padding: 16px;
}

.email-modal__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.email-modal__text {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.email-modal__cross {
  float: right;
  cursor: pointer;
}

.email-modal__link {
  color: var(--constant-accent);
}

.email-modal__input {
  padding: 8px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border-radius: 4px;
  margin-bottom: 16px;
  box-sizing: border-box;
  width: 100%;
  background: var(--constant-white);
  color: var(--constant-black);
}

.email-modal__input::placeholder {
  color: var(--constant-grey);
}

.email-modal__input:focus {
  box-shadow: 0 0 0 1px var(--constant-accent);
}

@media all and (min-width: 1024px) {
  .email-modal {
    width: 522px;
    padding: 16px 28px 28px;
  }

  .email-modal__form {
    display: flex;
  }

  .email-modal__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 16px;
  }

  .email-modal__text {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 24px;
  }

  .email-modal__input {
    width: auto;
    margin-right: 16px;
    margin-bottom: 0;
  }
}

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--constant-black-alpha64);
}

.modal-wrapper__children {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.modal-wrapper--alignY-center {
  display: flex;
  align-items: center;
}

.modal-wrapper--alignX-center {
  display: flex;
  justify-content: center;
}

.modal-wrapper-animation-enter {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.modal-wrapper-animation-enter-active {
  opacity: 1;
}

.modal-wrapper-animation-exit {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.modal-wrapper-animation-exit-active {
  opacity: 0;
}

.--prevent-scroll {
  overflow: hidden;
}

@media all and (min-width: 1024px) {
  .modal-wrapper__children {
    padding-left: 0;
    padding-right: 0;
  }
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 20px;
  background-color: var(--constant-accent);
  color: var(--constant-white);
  position: relative;
  border-radius: 4px;
}

.button:hover {
  background-color: #004e96;
}

.button:active {
  background-color: #003463;
}

.button__loading {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: inherit;
  border-radius: inherit;
}

.button__spinner {
  animation: button-spinner 1s linear infinite;
}

@keyframes button-spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.offline-notification {
  background-color: var(--constant-red);
  padding: 12px 16px;
  font-size: 14px;
  line-height: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--constant-white);
  text-align: center;
}

@media all and (min-width: 1024px) {
  .offline-notification {
    padding: 6px 16px;
    font-size: 16px;
    line-height: 20px;
  }
}

.offline-notification-animation-enter {
  transition: transform ease-in 300ms;
  transform: translateY(50px);
}

.offline-notification-animation-enter-active {
  transform: translateY(0);
}

.offline-notification-animation-exit {
  transition: transform ease-out 300ms;
  transform: translateY(0);
}

.offline-notification-animation-exit-active {
  transform: translateY(50px);
}

.page-animation-exit {
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  transition: opacity 1000ms ease, transform 1000ms ease;
  transform: scale(1);
  transform-origin: center center;
}

.page-animation-exit-active {
  opacity: 0;
  transform: scale(1.1);
}

