.article-item-info-link {
  cursor: pointer;
  padding-left: 16px;
  font-size: 16px;
  color: var(--color-grey);
}

.article-item-info-author {
  padding-left: 8px;
  font-size: 14px;
  color: var(--color-grey);
}

.article-item-info-category_container {
  display: flex;
  grid-column: span 5;
  align-items: center;
  justify-content: space-between;
}

.article-item-info-category {
  font-size: 20px;
  line-height: 24px;
}

.article-item-info-date {
  grid-column: 6/-1;
  font-size: 20px;
  line-height: 24px;
}
