
.short_article {
    margin-bottom: 35px;
    border-left: 11px solid var(--color-primary);
  }
  
  /* .short_article::before {
    content: "";
    position: absolute;
    width: 9px;
    height: 110px;
    background-color: var(--color-primary);
  } */

  .articles_short {
    grid-column: 10/-1;
  }