.login-container {
  max-width: 500px;
  margin: -70px auto 40px auto;
}

.oauth-container {
  margin-top: 30px;
  text-align: center;
}

.oauth-container-item {
  cursor: pointer;
  padding: 0 10px;
  font-size: 40px;
}
