.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--constant-black-alpha64);
}

.modal-wrapper__children {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.modal-wrapper--alignY-center {
  display: flex;
  align-items: center;
}

.modal-wrapper--alignX-center {
  display: flex;
  justify-content: center;
}

.modal-wrapper-animation-enter {
  opacity: 0;
  transition: opacity 300ms ease-in;
}

.modal-wrapper-animation-enter-active {
  opacity: 1;
}

.modal-wrapper-animation-exit {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.modal-wrapper-animation-exit-active {
  opacity: 0;
}

.--prevent-scroll {
  overflow: hidden;
}

@media all and (min-width: 1024px) {
  .modal-wrapper__children {
    padding-left: 0;
    padding-right: 0;
  }
}
