.articles_main {
  grid-column: span 9;
}
.main_article {
  display: grid;
  grid-template-columns: repeat(9, var(--grid-column-width));
  gap: var(--grid-gap);
  padding-bottom: 55px;
}

.main_article:last-child {
  margin-bottom: 0;
}

.main_article_category {
  font-size: 14px;
  color: var(--color-accent);
  font-weight: 700;
  text-transform: uppercase;
}

.main_article_text {
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 33px;
  
    /* display only 3 lines in the text box */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  
  .main_article_title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 34px;
  
    /* display only 3 lines in the text box */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .main_article_image_container {
    position: relative;
    grid-column: span 3;
    min-height: 185px;
    max-height: 344px;
    overflow: hidden;
  }
  
  .main_article_image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .main_article_content {
    grid-column: 4/-1;
    padding-right: 63px;
  }

  .main_article_source {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-grey);
}