.header--navigation {
  display: flex;
}

.navigation--list {
  list-style: none;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.navigation--item {
  margin-right: 24px;
}

.navigation--item:last-child {
  margin-right: 0;
}

.navigation--link {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}

.active,
.navigation--link:hover {
  color: var(--constant-accent);
}
