.partner-article {
  padding: 0 0 16px;
  background-color: var(--constant-accent);
}

.partner-article__container {
  padding: 0;
  display: block;
}

.partner-article-image-container {
  margin-bottom: 16px;
}

.partner-article-content {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  color: var(--constant-white);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.partner-article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 4px 20px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-height: 250px;
}

.partner-article-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.partner-article-title {
  margin-top: 12px;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.partner-article-text {
  display: none;
}

@media all and (min-width: 1024px) {
  .partner-article {
    padding: 24px 0;
  }

  .partner-article__container {
    padding: 0 var(--container-padding);
    display: grid;
  }

  .partner-article-image-container {
    grid-column: span 5;
  }

  .partner-article-content {
    grid-column: 6 / -1;
    padding-left: 0;
    padding-right: 0;
  }

  .partner-article-image {
    max-height: 430px;
  }

  .partner-article-title {
    margin-top: 16px;
    font-size: 20px;
    line-height: 24px;
  }

  .partner-article-text {
    margin-top: 16px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--constant-grey1);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
