.footer {
  padding-top: 22px;
  padding-bottom: 56px;
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-top: 64px;
}

.footer--link {
  color: var(--color-accent);
  text-decoration: underline;
  cursor: pointer;
}

.footer--bottom {
  font-size: 16px;
}

.footer--link:hover {
  opacity: 0.8;
}

.footer--navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  margin-bottom: 28px;
}
