@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap");

:root {
  --color-primary: #262a2f;
  --color-accent: #ff5533;
  --color-grey: #868686;
  --color-white: #ffffff;

  --container-width: calc(var(--yr) * 360);
  --grid-column-width: calc(var(--yr) * 24.5);
  --grid-gap: calc(var(--yr) * 5);

  --yr: 4px;
}

* {
  all: unset;
  display: revert;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #ebebeb;
  font-size: calc(var(--yr) * 5.5);
  font-weight: 400;
}
